<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Commune · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="container is-fluid">

      <div class="columns is-fullheight ">
        <div class="column left is-3">
          <%= render "left.html", %{conn: @conn} %>
        </div>
        <div class="column center is-6">
          <%= render @view_module, @view_template, assigns %>
        </div>
        <div class="column right is-3">
          <%= render "message_account_activated.html", Map.put(assigns, :conn, @conn) %>
          <%=
            if not @user_signed_in? do
              render "login-panel.html", Map.put(assigns, :conn, @conn)
            else
              render "profile.html", %{current_user: @current_user, conn: @conn}
            end
          %>
          <%= if @user_signed_in?, do: render "right-menu.html" %>
        </div>
      </div>



    </main>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
