.is-size-1 {
  font-size: 0px !important; }

.is-size-2 {
  font-size: 10px !important; }

.is-size-3 {
  font-size: 15px !important; }

.is-size-4 {
  font-size: 20px !important; }

.is-size-5 {
  font-size: 25px !important; }

.is-size-6 {
  font-size: 30px !important; }

.is-size-7 {
  font-size: 50px !important; }
