
main .column.left,
main .column.center  {
  border-right: 0.5px solid #ccc;
}

$tablet: 769px !default;
$desktop: 1400px !default;
$widescreen: 1192px !default;
$fullhd: 1384px !default;

main.column.left {
  position: fixed;
}

body, html {
  overflow: hidden;
}

html,body, main, .is-fullheight {
  height: 100%;
  margin: 0;
}

.columns.is-fullheight {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.columns.is-fullheight .column {
  overflow-y: auto;
}

main {
  padding-left: 120px !important;
  padding-right: 0px !important;
  .right-container {
    padding-right: 120px;
    .center {
      min-height: 100vh;
    }
  }
}




