.column.left, .column.center  {
  border-right: 0.5px solid #ccc;
}

$tablet: 769px !default;
$desktop: 1400px !default;
$widescreen: 1192px !default;
$fullhd: 1384px !default;


.columns.is-fullheight {
  margin-top: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.columns.is-fullheight .column {
  overflow-y: auto;
}
